<div class="grid-container-2">
    <div class="grid-item">
        <img src="assets/img_reserva1.webp" alt="Imagem 1">
    </div>
    <div class="grid-item">
        <img src="assets/img_reserva2.webp" alt="Imagem 2">
    </div>
    <div class="grid-item">
        <img src="assets/img_reserva3.webp" alt="Imagem 3">
    </div>
    <div class="grid-item">
        <img src="assets/img_reserva4.webp" alt="Imagem 4">
    </div>
</div>
<div class="container-text">
    <h3>PRODUTOS MASCULINOS</h3>
    <hr/>
</div>

<div class="card-grid">
    <div class="card">
        <div class="card-img">
            <img src="assets/2b.avif" alt="Shirt 1 Front" class="front">
            <img src="assets/2a.avif" alt="Shirt 1 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 1</h4>
            <div class="price">
                <span class="original-price">R$329,99</span>
                <span class="discounted-price">R$299,99</span>
            </div>
        </div>
    </div>
   
    <div class="card">
        <div class="card-img">
            <img src="assets/3b.avif" alt="Shirt 2 Front" class="front">
            <img src="assets/3a.avif" alt="Shirt 2 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 2</h4>
            <div class="price">
                <span class="original-price">R$259,99</span>
                <span class="discounted-price">R$209,99</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="assets/4b.avif" alt="Shirt 2 Front" class="front">
            <img src="assets/4a.avif" alt="Shirt 2 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 2</h4>
            <div class="price">
                <span class="original-price">R$429,99</span>
                <span class="discounted-price">R$399,99</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="assets/5b.avif" alt="Shirt 2 Front" class="front">
            <img src="assets/5a.avif" alt="Shirt 2 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 2</h4>
            <div class="price">
                <span class="original-price">R$129,99</span>
                <span class="discounted-price">R$99,99</span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="assets/6b.avif" alt="Shirt 1 Front" class="front">
            <img src="assets/6a.avif" alt="Shirt 1 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 1</h4>
            <div class="price">
                <span class="original-price">R$179,99</span>
                <span class="discounted-price">R$109,99</span>
            </div>
        </div>
    </div>
   
    <div class="card">
        <div class="card-img">
            <img src="assets/7b.avif" alt="Shirt 2 Front" class="front">
            <img src="assets/7a.avif" alt="Shirt 2 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 2</h4>
            <div class="price">
                <span class="original-price">R$229,99</span>
                <span class="discounted-price">R$199,99</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="assets/8b.avif" alt="Shirt 2 Front" class="front">
            <img src="assets/8a.avif" alt="Shirt 2 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 2</h4>
            <div class="price">
                <span class="original-price">R$119,99</span>
                <span class="discounted-price">R$99,99</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="assets/1b.avif" alt="Shirt 2 Front" class="front">
            <img src="assets/1a.avif" alt="Shirt 2 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 2</h4>
            <div class="price">
                <span class="original-price">R$139,99</span>
                <span class="discounted-price">R$89,99</span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="assets/9b.avif" alt="Shirt 2 Front" class="front">
            <img src="assets/9a.avif" alt="Shirt 2 Back" class="back">
        </div>
        <div class="card-content">
            <h4>Blusa Estilosa 2</h4>
            <div class="price">
                <span class="original-price">R$169,99</span>
                <span class="discounted-price">R$109,99</span>
            </div>
        </div>
    </div>
</div>
