<div class="top-bar">
  <p><i>Leve 3, pague 2!</i></p>
</div>
<nav class="navbar navbar-expand-sm navbar-light navbar-custom navbar-edit">
  <header class="app-header">
    <a href="/">
      <img ngSrc="assets/Elephant.jfif" width="100" height="80"/>
    </a>
</header>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-nav" href="/masculino">Masculino </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nav" href="/feminino">Feminino</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nav" href="/infantil">Infantil</a>
      </li>
    </ul>
  </div>
</nav>
